{% load static %}
<!-- footer -->
<footer class="bg-body-tertiary border-top py-3 mt-auto">
  <div class="container text-center vstack gap-3 mb-2">
    <div>
      <span class="mb-1 fw-bold">© 2025 All Rights Reserved.</span>
      <span class="mb-1 fw-bold">Built by Sardar Amiri with <i class="fa-solid fa-heart text-danger"></i></span>
    </div>
    <div>
      <a href="https://www.facebook.com/" class="text-dark me-3" target="_blank"
        ><i class="fa-brands fa-facebook fa-lg icon-hover"></i
      ></a>
      <a href="https://x.com/" class="text-dark me-3" target="_blank"
        ><i class="fa-brands fa-x-twitter fa-lg icon-hover"></i></a>
      <a href="https://www.instagram.com/" class="text-dark me-3" target="_blank"
        ><i class="fa-brands fa-instagram fa-lg icon-hover"></i
      ></a>
      <a href="https://github.com/SardarAmiri" class="text-dark me-3" target="_blank"><i class="fa-brands fa-linkedin fa-lg icon-hover"></i></a>
      <a href="https://www.facebook.com/" class="text-dark"
        ><i class="fa-brands fa-github fa-lg icon-hover"></i></a>
    </div>
  </div>
</footer>
