<!-- Sign up form -->
 
 {% extends 'base.html' %} 
 {% block content %}

<section class="vh-90 bg-image"
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div id="container" class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center">Login</h2>
              <form>
                <div>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">Username</label>
                </div>
                <div >
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>
                <div class="d-flex justify-content-center">
                  <button  type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'register' %}"
                    class="fw-bold text-body"><u>Register here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}