*,
:after,
:before {
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 24px;
}
.emoji {
  font-size: 20px;
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .dropdown-item {
  padding: 1rem;
}
.active > .nav-link {
  color: black;
  font-weight: bold;
}
.breadcrumb-container {
  background-color: #f1f4f6; /* Light grey background */
  padding: 10px 20px;
  border-radius: 5px;
}
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* Change the background color of the carousel indicators */
.carousel-indicators [data-bs-target] {
  background-color: black; /* Change this to your desired color */
}

/* Change the background color of the active carousel indicator */
.carousel-indicators .active {
  background-color: #fff; /* Change this to your desired color */
}

.latest-img {
  width: 366px;
  height: 215px;
  object-fit: cover;
}
.carousel-img {
  width: 647px;
  height: 430px;
  object-fit: cover;
} 
/* Single Article Style */
#header, #card, #breadcrumb {
  max-width: 52rem;
}
#breadcrumb {
  margin-bottom: 1rem;

}
#comment-section {
  display: 'none';
}