*,
:after,
:before {
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 24px;
}
.emoji {
  font-size: 20px;
}
.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .dropdown-item {
  color: black !important;
  padding: 1rem;
}
