{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Breadcrumb Section -->
<div class="container mt-3">
  <div class="breadcrumb-container d-flex align-items-center">
    <i class="bi bi-house-door-fill me-2"></i>
    <!-- Bootstrap home icon -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a
            href="{% url 'index' %}"
            class="text-decoration-none fw-bold text-black"
          >
            <i class="fa-solid fa-house-chimney"></i>
            Home</a
          >
        </li>
        <li class="breadcrumb-item">
          Sort by
          <select id="sortSelect" class="border-1 bg-transparent text-accent-emphasis ms-2" data-base-url="{% url 'articles' %}">
            <option value="date" {% if current_sort == 'date' %}selected{% endif %}>Date</option>
            <option value="comments" {% if current_sort == 'comments' %}selected{% endif %}>Comments</option>
            <option value="votes" {% if current_sort == 'votes' %}selected{% endif %}>Votes</option>
         </select>
        </li>
      </ol>
    </nav>
  </div>
</div>
<main id="main">
  <section class="bsb-blog-5 py-3 py-md-5 py-xl-8 bsb-section-py-xxl-1">
    <div class="container overflow-hidden">
      <div id="articlesContainer" class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9">
        {% include 'partials/_articles_list.html' %}
      </div>
  </section>
</main>
{% endblock %}
