{% extends 'base.html' %}  {% load static %}

{% block content %} 

<div class="container mt-5">
    <!--Section: Newsfeed-->
<section>
    <!-- Breadcrumb Section -->
    <div id="breadcrumb" class="container mt-3">
        <div class="breadcrumb-container d-flex align-items-center">
            <i class="bi bi-house-door-fill me-2"></i>
            <!-- Bootstrap home icon -->
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                <a
                    href="{% url 'articles' %}"
                    class="text-decoration-none fw-bold text-black"
                >
                    <i class="fa-solid fa-house-chimney"></i>
                    Articles</a
                >
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                Browse Articles
                </li>
            </ol>
            </nav>
        </div>
    </div>
  <article class="row d-flex justify-content-center">
    <header id="header" class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{article.title}}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{ article.created_at|date:"d M, Y" }} by {{article.author}}</div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light">{{article.topic}}</a>
    </header>
    <div id="card" class="card" >
        <div class="card-body">
        <!-- Description -->
        <div>
            <p>
            {{article.body}}
            </p>
        </div>
        </div>
        <!-- Media -->
        <div class="bg-image hover-overlay ripple rounded-0" >
        <img src="{{ article.article_img.url}}" class="w-100" />
        </div>
        <div class="card-body">
        <!-- Reactions -->
        <div class="d-flex justify-content-between mb-3">
            <div>
            
                
                <button type="button" id="vote-heart" class="btn btn-vote-article" data-vote-url="{% url 'vote_article' article.id %}"><i class="fas fa-heart text-danger"></i></button>
                <span id="article-votes">{{article.votes}}</span>
            
            </div>
            <div>
                <span class="text-muted">{{ article.comment_count}} comments</span>
            </div>
        </div>
        <!-- Reactions -->

        <!-- Buttons -->
        <div class="d-flex justify-content-end text-center border-top border-bottom mb-4">
            
            <button id="show-comments"  type="button"  class="btn btn-lg" >
             Show Comments
            </button>
        </div>
        
        <!-- Input -->
        <div class="d-flex mb-3">
            <form id="comment-form" method="POST" action="{% url 'add-comment' article.id %}" class="form-outline w-100">
            {% csrf_token %}
                <div class="d-flex mb-1">
                    <div class="form-outline w-100">
                        <textarea id="comment-body"  class="form-control" name="body" rows="2" required></textarea>
                        <label class="form-label">Write a comment</label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary ">Add comment</button>
                </div>
            </form>
        </div>
        <div id="comment-section" style="display: none;">
            {% for comment in article.comments.all %}
            <div class="bg-body-tertiary rounded-3 px-3 py-1 mb-2" data-comment-id="{{ comment.id }}">
                <p class="text-dark mb-0">
                    <strong>{{ comment.author.username }}</strong>
                    <span class="text-muted small ms-2">{{ comment.created_at|date:"d M, Y"  }}</span>
                </p>
                <p class="text-muted d-block">
                    <small>{{ comment.body }}</small>
                </p>
                <div class="d-flex align-items-center">
                    <button class="btn-vote btn btn-link btn-sm p-0" data-id="{{ comment.id }}" {% if request.user in comment.voted_by.all %}disabled{% endif %}>
                        <i class="fas fa-thumbs-up"></i>
                    </button>
                    <span class="mx-1" id="comment-votes-{{ comment.id }}">{{ comment.votes }}</span>
                    {% if comment.author == request.user %}
                    <button class="btn-delete-comment btn btn-sm text-danger p-0 ms-2" data-id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
         
  </div>
  </article>
</section>
<!--Section: Newsfeed-->
</div>

{% endblock %}

